<div class="back" *ngIf="dataService.step > 2">
   <a href="#" (click)="preStep()"><img src="../assets/back.svg" alt="back" class="backbtn"></a> 
</div>
<app-firstpage *ngIf="dataService.step == 1"></app-firstpage>
<app-secondpage *ngIf="dataService.step == 2"></app-secondpage>
<app-thirdpage *ngIf="dataService.step == 3"></app-thirdpage>
<app-fourthpage *ngIf="dataService.step == 4"></app-fourthpage>
<app-fifthpage *ngIf="dataService.step == 5"></app-fifthpage>
<app-sixthpage *ngIf="dataService.step == 6"></app-sixthpage>
